body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  
    
    color: #ffffff; 
}

header {
    background: url("./bg.jpg");
background-size: cover;
    background-position: centre;
    background-repeat: no repeat;
    

    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    #background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000; /* Text color in sections */
}

.book {
    margin-bottom: 15px;
}

.book-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
   # background: rgba(53, 66, 74, 0.8);
    color: #ffffff;
}
